<div class="manager-div">
    <!--<h1 class="manager-title">Manage Your Passwords Securely</h1>-->
    <!--<p class="manager-info">Store your username, password, and URL</p>-->

    <form id="mgr-form" method="GET" action="/getWebsite">
        <!--<input type="email" name="emailaddress" id="username" class="username" placeholder="Enter Email" required><br>-->
        <input type="text" name="website" id="username" class="username" placeholder="Enter Website" required><br>
        <!--<input type="password" name="password" id="password" class="password" placeholder="Enter Password" required><br>-->
        <!--<input type="text" name="url" id="url" class="url" placeholder="Enter URL"><br>-->
        <button type="submit" class="mgr-submit">Submit</button>
    </form>
    <p class="output" id="output">{{output}}</p>


</div>