<div class="manager-div">
	<!--<h1 class="manager-title">Manage Your Passwords Securely</h1>-->
	<!--<p class="manager-info">Store your username, password, and URL</p>-->

	<form id="mgr-form" method="POST" action="/addAccount">

        <input type="text" name="website" id="website" class="website" placeholder="Enter Website" required><br>
        <button type="submit" class="mgr-submit">Submit</button>
	</form>
	<p class="output" id="output">{{output}}</p>


</div>