<!DOCTYPE html>
<html>

	{{> header}}

<body style="background-color: #FFA07A;">

<!-- control panel -->
	{{> control}}

<!--Login Page-->
<div id="login-div" >
    <h1 class="Login-title">Login</h1>
    <form id="login-form" method="POST" action="/login-entry">

        <input type="text" id="userInputEmail" class="userEmail" name="email" placeholder="Enter an email"> <br>
        <input type="password" id="userInputPassword" class="userPassword" name="password" placeholder="Enter a password"> <br>
        <input type="submit" value="Submit" class="loginsubmit">

    </form>
    <p class="err" id="err">{{error}}</p>
    <!--Not implemented -->
    <!--<a style="" role="button" href="/forgot-password" class="btn btn-danger">Forgot Password</a>-->
</div>

<!-- Open and Close Side Menu -->
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>