<!DOCTYPE html>
<html>
    {{> header}}

<body style="background-color: #FFA07A;">

<!-- control panel -->


<!--sign-up Page-->
<div id="sign-up-div" >
    <h1 class="breach-title">Sign Up</h1>
    <form id="sign-up-form" method="POST" action="/newUser">
        <p class="emailtext">Email:</p> <br>
        <input type="email" id="userInputEmail" class="userEmail" name="email" placeholder="Enter an email"> <br>
        <p class="passwordtext">Password:</p><br>
        <input type="text" id="userInputPassword" class="password" name="password" placeholder="Enter a password"> <br>
        <input type="submit" value="Submit" class="mgr-submit">
    </form>
    <p class="err" id="err">{{error}}</p>
</div>


<!-- Open and Close Side Menu -->
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>

</body>
</html>