<!DOCTYPE html>
<html>

	<!--{{> header}}-->

<body style="background-color: #FFA07A;">

<!-- control panel -->
	{{> control}}

<!--sign-up Page-->
<div id="sign-up-div" >
    <h1 class="sign-up-title">sign-up</h1>
    <form id="sign-up-form" method="POST" action="/sign-up-entry">
        Email: <br>
        <input type="text" id="userInputEmail" name="email" placeholder="Enter an email"> <br>
        Password: <br>
        <input type="text" id="userInputPassword" name="password" placeholder="Enter a password"> <br>
        <input type="submit" value="Submit" class="submit">
    </form>
    <p class="err" id="err">{{error}}</p>
</div>

<!-- Open and Close Side Menu -->
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>